<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title><%= play[:title] %></title>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1><%= play[:title] %></h1>
<%- play[:acts].each_with_index do |act, act_idx| %>
<div class="act">
<h2><%= act[:title] %></h2>
<%- act[:scenes].each_with_index do |scene, scene_idx| -%>
<%- line_index = 0 %>
<div class="scene">
<h3><%= scene[:title] %> </h3>
<%-     for part in scene[:parts] -%>
<%-       if part[:stagedir] -%>
<p class="stagedir"><%= part[:stagedir] %></p>
<%-           line_index += 1 %>
<%-       else -%>
<p>
<%-         for speaker in part[:speakers] -%>
<b class="speaker"><%= speaker %></b>
<%-           line_index += 1 %>
<%-         end -%>
<%-         for l in part[:lines] -%>
<%-           line_index += 1 %>
<span class="line" id="<%= act_idx %>-<%= scene_idx %>-<%= line_index %>">
<%-           if l[:type] == :stagedir -%>
<i class="<%= l[:type] %>"><%= l[:text].strip %></i><br />
<%-           else -%>
<%-             for n in l[:lines] -%>
<%-               if n[:type] == :parenthetical -%>
<i class="parenthetical"><%= n[:text].strip %></i>
<%-               else -%>
<%= n[:text].strip %>
<%-               end -%>
<%-             end -%>
<%-             if line_index % 10 == 0 %>
  <a class="line" href="#<%= act_idx %>-<%= scene_idx %>-<%= line_index %>"><%= line_index %></a>
<%-             end %>
<%-           end -%></span>
<%-         end -%>
</p>
<%-       end -%>
<%-     end -%>
</div>
<%-   end -%> 
</div>
<%- end -%>
</body>
</html>
